.App {
  height: 100vh;
}

/* ------------------------------ */

.AgentCenter {
  background-color: rgb(38, 49, 46);
  padding: 30px;
  color: rgb(219, 191, 155);
  height: 100vh;
}

.show-hide-btn {
  border: 1px solid coral;
  border-radius: 0;
  margin-left: 30px;
  color: coral;
}

.show-hide-btn:hover {
  background-color: rgb(250, 235, 215, 0.2);
  color: antiquewhite;
}

.active-btn {
  background-color: rgb(250, 235, 215, 0.2);
  color: antiquewhite;
}

.AgentCenter h1 {
  color: coral;
}

.AgentCenter hr {
  background-color: coral;
}

.this-node-info {
  padding: 20px;
}

.this-node-info p {
  font-size: 1.2rem;
  color: antiquewhite;
}

.this-node-info p span {
  border-bottom: 1px solid antiquewhite;
}

.all-nodes {
  padding: 20px;
  padding-top: 10px;
  max-height: 55vh;
  overflow: auto;
}

.all-nodes table {
  width: 100%;
}

.all-nodes table tr {
  border-bottom: 1px solid antiquewhite;
}

.all-nodes table tr:nth-child(1) {
  border-bottom: 2px solid antiquewhite;
}

.all-nodes table td {
  padding: 10px 15px;
  max-width: 100px;
}

/* ----------------------- */

.perfs {
  height: 60vh;
  overflow: auto;
}

.perf-btn {
  display: block;
  background: transparent;
  color: white;
  border: 0;
}

.perf-btn:hover {
  color: coral;
}

.start-stop {
  border-radius: 0;
  color: coral;
}

.start-stop:hover {
  color: white;
}

ul {
  list-style: none;
}

.dropdown, .sender {
  margin-top: 20px;
}

.sender {
  margin-top:30px;
  border-bottom: 1px solid rgb(219, 191, 155);
}

.dropdown > button {
  padding: 10px;
  margin-left: 30px;
  color: white;
  background-color: transparent;
  border: 1px solid coral;
  border-radius: 0;
}

.dropdown ul {
  padding: 10px;
  border-radius: 0;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgb(219, 191, 155);
}

input:disabled {
  color: white;
}

.dropdown-menu {
  width: 220px;
  padding: 10px;
}

.msg-btn {
  background-color: coral;
  border-radius: 0;
  color: white;
}

